{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{blog.title}}
{% endblock title %}

{% block content %}

<div class="card my-3 px-3">
    <div class="card-body">
        <img src="{{ blog.author.profile.image.url }}" class="profile-pic-sm mb-2" alt="">
        <span>
            <span class="user-name"> <span class="text-secondary"> Author:</span> <a href="{% url 'blog:user_post' blog.author.username %}"> {{ blog.author.username|title }}</a></span> <br>
            <small class="text-secondary"> {{ blog.author.profile.introduction|title }}</small>
        </span>
        <hr>
        <h5 class="card-title text-primary">
            <a href="{{ blog.get_absolute_url }}"> {{ blog.title }}</a>
        </h5>
        <small class="text-secondary"> <i class="far fa-clock"></i> {{ blog.created_at|timesince }} ago | <i class="fa fa-eye"></i> views: {{ blog.blog_views }} | </small>
        <small><i class="fas fa-tags"></i>   
            {% for i in blog.category.all %}
            <span class="badge badge-info">{{ i.title }}</span>
            {% endfor %}
        </small>        <br>
        {% if blog.author.username == user.username or user.username == 'admin' or user.username == 'basirpayenda' %}
            <a href="{{ blog.get_update_url }}" class="btn btn-primary btn-sm mt-2"> <i class="fas fa-edit"></i> Update</a>
            <a href="{{ blog.get_delete_url }}" class="btn btn-danger btn-sm mt-2"> <i class="fa fa-trash"></i> Delete</a>
        {% endif %}

        <br><br>
        <img src="{{ blog.thumbnail.url }}" alt="{{ blog.thumbnail }}" class="w-100">
        <p>{{ blog.content|safe }}</p>

        {% if blog.documents %}
           <img src="{% static 'imgs/download.gif' %}" class="download-icon"  alt=""> <a href="{{ blog.documents.url }}" download>Download link</a>
        {% endif %}

        
               
    </div>
</div>

{% endblock content %}
