{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block blog-active %}
 active
{% endblock blog-active %}
{% load static %}
{% block styler %}
<style>
body{
    background-color:#fff;
}
</style>

{% endblock styler %}


{% block content %}

<div class="row my-3">

    <div class="col-md-8 col-sm-12">
        {% include 'includes/messages.html' %}
        {% for blog in blogs %}
            {% include 'blogs/includes/blogs.html' %}
        {% endfor %}

        {% include 'blogs/includes/pagination.html' %}
    </div>

    <div class="col-md-4 col-sm-12 mt-3">
        <!-- Search -->
        {% include 'blogs/includes/search.html' %}

        <!-- Latest Posts -->
        <div class="card my-3">
            <div class="card-body">
                <h3 class="pb-3 border-bottom">Latest posts</h3>
                {% for blog in blogs %}
                    <div class="row">
                        <div class="col-md-3">
                            <img src="{{ blog.thumbnail.url }}" class="width-100 latest-post-img" alt="blog's image ">
                        </div>
                        <div class="col-md-9">
                            <small><a href="{{ blog.get_absolute_url }}">{{blog.title}}</a></small> <br>
                            <small class="text-secondary">Posted by {{ blog.author }}</small>
        
                            {% if forloop.last %}
                                <span></span>
                            {% else %}
                                <hr>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- Subscribe -->
        {% include 'blogs/includes/subscribe.html' %}

    </div>

</div>
<!-- End of first row -->


{% endblock content %}
