{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block home-active %}
 active
{% endblock home-active %}
{% load static %}
{% block styler %}
<style>
body{
    background-color:#fff;
}
</style>

{% endblock styler %}


{% block content %}

<div class="row my-3">
    <div class="col-md-8 col-sm-12">
        {% include 'includes/messages.html' %}
        {% for blog in blogs %}
            {% include 'blogs/includes/blogs.html' %}
        {% endfor %}

        {% include 'blogs/includes/pagination.html' %}
    </div>
    <div class="col-md-4 col-sm-12">
        <!-- About author -->
        <div class="card my-3">
            <img class="card-img-top" src="{% static 'imgs/author.JPG' %}" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Basir Payenda</h4>
                <p class="card-text">I am a passionate software engineer, I write about Python, Django ... </p>
                <a href="#" class="btn btn-primary">See Profile</a>
            </div>
        </div>

        <!-- Search -->
        <div class="card">
            <div class="card-body">
                <h3 class="mb-2"> <i class="fa fa-search"></i> Search posts</h3>
                <form action="{% url 'blog:search_blogs' %}">
                    {% csrf_token %}
                    <input type="text" name="q" placeholder="Search blogs here" class="form-control">
                    <input type="submit" class="btn btn-primary btn-sm my-3" value="Search">
                </form>
            </div>
        </div>

        <!-- Categories -->
        <div class="card my-3">
            <div class="card-body">
                <h3 class="card-title mb-3"> <i class="fas fa-tags"></i>  Tags</h3>
                {% for category in categories %}
                    {% if forloop.last %}
                        <a href="{% url 'blog:category_blogs' category.category__title %}">{{ category.category__title  }}</a>
                        <span class="badge badge-secondary">{{ category.category__title__count }}</span>
                    {% else %}
                        <a href="{% url 'blog:category_blogs' category.category__title %}">{{ category.category__title  }}</a>
                        <span class="badge badge-secondary">{{ category.category__title__count }}</span>
                        <hr>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>


<!-- End of first row -->

<!-- Subscribe -->
<div class="row">
    <div class="col-12">
        <div class="card bg-secondary text-white">
            <div class="card-body">
                <h3 class="mb-2"> <i class="fa fa-envelope"></i> Subscribe </h3>
                <small class="mb-3">Subscribe to our newsletter to get updates about the content of website</small>
                <form action="{% url 'subscribe' %}" method="POST">
                    {% csrf_token %}
                    {{ subscribe_form|crispy }}
                    <input type="submit" class="btn btn-primary btn-sm my-3" value="Subscribe">
                </form>
            </div>
        </div>
    </div>
</div>
<br>
<!-- Popular posts row -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h1>Popular Posts</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi odit repellat, dolores nihil distinctio commodi accusantium libero sit ut, maiores totam fugiat nemo expedita cupiditate minus earum quae dolorem sunt!</p>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        {% for blog in latest %}    
                            <div class="swiper-slide" style="box-shadow:0 0 5px #f3f3f3; border-radius:7px;">
                                <div class="card">
                                    <div class="card-body">
                                        <img src="{{ blog.thumbnail.url }}" class="w-100" alt="">
                                        <small><h5 class="card-title text-primary"><a href="{{ blog.get_absolute_url }}">{{blog.title}}</a></h5></small> 
                                        <small class="text-secondary pb-3">Post by <a href="#">{{ blog.author }}</a> <i class="fa fa-clock"></i>  {{ blog.created_at|timesince }} ago</small>

                                        <small><p style="display:inline;">{{ blog.overview|truncatechars:90 }}</p></small> 
                                        <a href="{{ blog.get_absolute_url }}">(read more)</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <br><br>
                    <div class="swiper-pagination my-4"></div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
