{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block styler %}
<style>
ul{
    margin-left: 1rem;
}
</style> 
{% endblock styler %}

{% block content %}
<div class="row">
    <div class="mx-auto col-md-6 col-sm-12 mt-4">
        <div class="section">
            <div class="section-body">
                {% include 'includes/messages.html' %}
                <h3> <i class="fa fa-key"></i> Change password</h3>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" value="Save" class="btn btn-warning btn-block">
                </form>        
            </div>
        </div>
    </div>
</div>


{% endblock content %}
