{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block styler %}
    <style>
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
    </style>
{% endblock styler %}

{% block content %}

<div class="row">
    <div class="section mx-auto mt-5 col-sm-12 col-md-6">
        <div class="section-body">
            <h3> <i class="fas fa-sign-in-alt"></i> Login</h3>
            <hr>
            {% include 'includes/messages.html' %}
            <form action="." method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Login" class="btn btn-warning btn-block">
                <hr>
                <small class='text-secondary'>Don't have an account? <a href="{% url 'user:signup' %}">Sign up</a> </small> <br>
                <small class='text-secondary'>Forgot password? <a href="{% url 'password_reset' %}">Reset</a></small>
            </form>        
        </div>
    </div>
</div>
{% endblock content %}
