{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="user-form">
    <div class="card w-50">
        <div class="card-body">
            {% include 'includes/messages.html' %}
            <h3> <i class="fas fa-sign-in-alt"></i> Login</h3>
            <hr>
            <form action="." method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Login" class="btn btn-warning btn-block">
                <hr>
                <small class='text-secondary'>Don't have an account? <a href="{% url 'user:signup' %}">Sign up</a> </small> <br>
                <small class='text-secondary'>Forgot password? <a href="{% url 'password_reset' %}">Reset</a></small>
            </form>        
        </div>
    </div>
</div>

{% endblock content %}
