{% extends "base.html" %}
{% load humanize %}


{% block header %}
<!-- ! profile starts -->
<div class="row bg-white border-bottom" style="box-shadow:0 3px 12px #f3f3f3;">
    <div class="col-2 hide-sm"></div>
    <div class="col-md-8 col-sm-12">
        <div class="card" style="border: none; box-shadow: none;">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2 col-sm-4">
                        <img class="w-100 profile-pic" src="{{ user.profile.image.url }}">
                    </div>
                    <div class="col-md-6 col-sm-8">
                        {% include 'includes/messages.html' %}

                        <div style="display:flex; justify-content:flex-start; flex-direction: column;">
                            <h2 class="account-heading mt-3">{{ user.username|upper }} </h2>
                            <small class="text-secondary">{{ user.profile.introduction }}</small>
                        </div>
                        <br>
                        {% if user.profile.description == '' %}
                        <i class="fa fa-person"></i> <a href="{% url 'user:profile_update' %}"> Add
                            description</a>
                        {% else %}
                        
                        <small>
                            <p class="text-secondary">{{ user.profile.description }}</p>
                        </small>
                        {% endif %} 
                        <a href="{% url 'user:profile_update' %}" class="btn btn-outline-success btn-sm my-2">Update</a>

                    </div>
                    <div class="col-md-4 col-sm-12">
                        <h4 class="border-bottom pb-2">Contacts:</h4>
                        <small class="text-secondary">
                            {% if user.email != 'None' or user.email != '' %}
                            <i class="fa fa-envelope"> </i> &nbsp; <input type="text" class="profile-email"
                                value="{{ user.email }}">
                            {% else %}
                            <i class="fa fa-envelope"> </i> <a href="{% url 'user:profile_update' %}"> Add
                                email</a>
                            {% endif %}
                        </small><br>

                        <small class="text-secondary">
                            {% if user.profile.facebook == '' %}
                            <i class="fab fa-facebook"> </i> <a href="{% url 'user:profile_update' %}"> Add
                                Facebook</a>
                            {% else %}
                            <i class="fab fa-facebook"> </i> &nbsp;
                                <a href="{{ user.profile.facebook }}">{{ user.username }}'s Facebook</a>
                            {% endif %}
                        </small><br>

                        <small class="text-secondary">
                            {% if user.profile.whatsapp == '' %}
                            <i class="fab fa-whatsapp"> </i> &nbsp; <a href="{% url 'user:profile_update' %}">
                                Add Whatsapp</a>
                            {% else %}
                            <i class="fab fa-whatsapp"> </i> {{ user.profile.whatsapp }}
                            {% endif %}
                        </small><br>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="col-2 hide-sm"></div>
</div>


{% endblock header %}


{% block content %}


<div class="container ">
    <br>
    {% for blog in queryset %}
        {% include 'blogs/includes/blogs.html' %}
    {% endfor %}
</div>

{% endblock content %}