{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block styler %}
<style>
    ul{
        margin-left: 1rem;
    }
</style>
{% endblock styler %}

{% block content %}
<div class="row">
    <div class="section col-md-6 mx-auto mt-4">
        <div class="section-body">
            <h2 class='text-center h1-sm'> <i class="fas fa-user-plus"></i>  Create an account</h2>
            <hr>
            <form action="." method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Sign up" class="btn btn-warning btn-block">
                <hr>
                <small class="text-secondary">Already have an account? <a href="{% url 'user:login' %}">Login</a> </small>   
            </form>        
        </div>
    </div>
</div>
{% endblock content %}
